version: '3.8'

services:

  # --- 2. JAVA BACKEND (BE-QTDA) ---
  sn-java:
    build: ./BE-QTDA
    container_name: sn-java
    ports:
      - "9999:9999"
    environment:
      - RAG_FASTAPI_URL=http://snake_fastapi:5000/api/ask-snake
    networks:
      - snake-network

  # --- 3. FRONTEND (FE-QTDA) ---
  sn-frontend:
    build: ./FE-QTDA
    container_name: sn-frontend
    ports:
      - "3000:3000"
    environment:
      - JAVA_BACKEND_URL=http://sn-java:9999/api/search
    networks:
      - snake-network

networks:
  snake-network:
    external: true
